@font-face {
  font-family: "Jaemin";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jaemin.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KoPubDotumMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IM_Hyemin-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

.outer-container-page4 {
  height: 100vh;
  font-family: Jaemin;
  text-align: center;
  background-image: url(../../img/background.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  overflow: hidden;
}

div.navbar__container {
  text-align: right;
  width: 100%;
  margin: 0;
  padding: 15px;
  background-color: #292929;
  position: fixed;
  top: 0;
  z-index: 1;
  right: -0.5rem;
}

div.navbar__container a {
  color: #fff;
  text-decoration: none;
  font: 20px Jaemin;
  font-weight: bold;
  margin: 0px 10px;
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

div.brackets a:before,
div.brackets a:after {
  position: absolute;
  opacity: 0;
  font-size: 35px;
  top: 0px;
  transition: all 0.3s;
}

div.brackets a:before {
  content: "(";
  left: 0px;
  transform: translateX(10px);
}

div.brackets a:after {
  content: ")";
  right: 0px;
  transform: translateX(-10px);
}

div.brackets a:hover:before,
div.brackets a:hover:after {
  opacity: 1;
  transform: translateX(0px);
}

.navbar__menu__item {
  padding: 15px;
  color: white;
  cursor: pointer;
  font-family: Jaemin;
  font-size: 20px;
  font-weight: bolder;
}

.text__container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25vh;
  text-align: center;
  justify-content: center;
}

.char {
  background-image: url(../../img/img.png);
  background-repeat: no-repeat;
  background-position: relative;
  background-size: 800px;
  height: 100vh;
  width: 60vw;
  position: relative;
  bottom: 570px;
  left: 690px;
  z-index: 1;
}

.textback {
  background-image: url(../../img/text_back_line2.png);
  background-repeat: no-repeat;
  background-size: 95vw 90vh;
  background-position: relative;
  width: 95vw;
  height: 90vh;
  position: fixed;
  top: 100px;
  flex-basis: 30%;
  z-index: 0;
}

.youris {
  color: #292929;
  width: 95vw;
  height: 90vh;
  font-size: 8vh;
  font-weight: bolder;
  z-index: 3;
  flex-basis: 35%;
}

.description {
  color: #292929;
  width: 90vw;
  height: 90vh;
  font-size: 3.5vh;
  font-weight: bold;
  z-index: 3;
  flex-basis: 35%;
}

button {
  font-family: Jaemin;
  border-radius: 5px;
  background: #292929;
  color: #fff;
  border: none;
  position: relative;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}

button:hover {
  background: #fff;
  color: #292929;
  border-radius: 5px;
}

button:before,
button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #292929;
  transition: 400ms ease all;
  border-radius: 5px;
}

button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
  border-radius: 5px;
}

button:hover:before,
button:hover:after {
  width: 100%;
  transition: 800ms ease all;
  border-radius: 5px;
}

.choice {
  display: inline-block flex;
  position: fixed;
  left: 550px;
  bottom: 1.2rem;
}
.choice__first {
  display: inline;
  float: right;
  padding: 7px;
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
}

.choice__second {
  display: inline;
  float: right;
  padding: 7px;
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
}
.choice__third {
  display: inline;
  float: right;
  padding: 7px;
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
}
