@font-face {
  font-family: "Jaemin";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jaemin.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KoPubDotumMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IM_Hyemin-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.outer-container-page4 {
  font-family: Jaemin;
  background-image: url(../../img/background.png);
  background-attachment: fixed;
  background-position: top;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.container {
  color: white;
  height: 100vh;
  width: auto;
  height: auto;
  text-align: center;
}

.you {
  font-size: 70px;
  color: white;
  width: 50vh;
  text-align: left;
}

.youris {
  display: flex;
}

.char {
  width: 400px;
  height: 500px;
}

.text {
  width: 800px;
  height: 450px;
  position: relative;
}
.textback {
  width: 800px;
  height: 450px;
  position: relative;
  top: 100px;
}
/* .you__char {
  border: 2px solid goldenrod;
  display: flex;
  flex-direction: row;
  padding: 50px;
  margin: 40px;
  width: auto;
  margin-top: 30px;
  margin-left: 50px;
  align-items: center;
  justify-content: center;
  height: 330px;
  text-align: center;
} */

.description {
  color: #292929;
  font-size: 35px;
  width: 800px;
  height: 400px;
  font-weight: bold;
  position: absolute;
  bottom: -200px;
}

.char__name {
  font-family: IM_Hyemin-Bold;
  color: white;
  font-size: 30px;
  text-align: center;
  width: 200px;
  border: goldenrod solid;
  border-radius: 10px;
  position: relative;
  left: 70px;
  bottom: -10px;
}

button {
  font-family: Jaemin;
  border-radius: 5px;
  background: #303f9f;
  color: #fff;
  border: none;
  position: relative;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}

button:hover {
  background: #fff;
  color: #303f9f;
  border-radius: 5px;
}

button:before,
button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #303f9f;
  transition: 400ms ease all;
  border-radius: 5px;
}

button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
  border-radius: 5px;
}

button:hover:before,
button:hover:after {
  width: 100%;
  transition: 800ms ease all;
  border-radius: 5px;
}

.choice {
  display: inline-block flex;
  position: relative;
  top: 205px;
  right: 70px;
}
.choice__first {
  display: inline;
  float: right;
  padding: 5px;
  margin: 2px;
}

.choice__second {
  display: inline;
  float: right;
  padding: 5px;
  margin: 2px;
}
.choice__third {
  display: inline;
  float: right;
  padding: 5px;
  margin: 2px;
}
