.background {
  background-image: url(../../img/background.png);
  width: 1920px;
  height: 1080px;
  padding: 186px 44px 118px 96px;
}

.youris {
  width: 486px;
  height: 90px;
  font-size: 90px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}
