.explain-card-container {
    background-color: aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 30px;
    padding: 1rem;
    margin: 1rem;
    transition: all 1s;
    display: flex;
    flex-direction: column;
    width: 500px;
    flex-wrap: nowrap;
}

.answer-text {
    display: flex;
    justify-content: space-between;
}

.answer-rate {
    font-style: bold;
    color: red;
    margin-right: 2rem;
}

.explanation-text {
    font-style: italic;
}