@font-face {
  font-family: "Jaemin";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jaemin.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IM_Hyemin-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* body {
  overflow: hidden;
} */
.outer-container-page3 {
  background-image: url(../Page4/img/background.png);
  background-attachment: fixed;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Jaemin;
}

.challenge {
  width: 400px;
  height: 100px;
  font-size: 2.5vw;
  position: sticky;
  z-index: 3;
  bottom: 600px;
  left: 250px;
  font-weight: bold;
}

.sejong {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  z-index: 1;
}

.text_back {
  width: 100vw;
  height: 95vh;
  flex-basis: 60%;
  position: fixed;
  z-index: 1;
}

.sejongimg {
  width: 30vw;
  height: 80vh;
  flex-basis: 40%;
  position: relative;
  z-index: 2;
  top: 190px;
}

.text__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  flex-basis: 100%;
  position: relative;
  z-index: 3;
  bottom: 350px;
  right: 110px;
}

div.navbar_container {
  text-align: right;
  width: 100%;
  margin: 0;
  padding: 15px;
  background-color: #292929;
  position: sticky;
  top: 0;
  z-index: 4;
  right: -0.5rem;
}

div.navbar_container {
  width: 100%;
}

div.navbar_container a {
  color: #fff;
  text-decoration: none;
  font: 20px Jaemin;
  font-weight: bold;
  margin: 0px 10px;
  padding: 20px 20px;
  position: sticky;
  z-index: 4;
  cursor: pointer;
}

div.brackets a:before,
div.brackets a:after {
  position: absolute;
  opacity: 0;
  font-size: 35px;
  top: 0px;
  transition: all 0.3s;
}

div.brackets a:before {
  content: "(";
  left: 0px;
  transform: translateX(10px);
}

div.brackets a:after {
  content: ")";
  right: 0px;
  transform: translateX(-10px);
}

div.brackets a:hover:before,
div.brackets a:hover:after {
  opacity: 1;
  transform: translateX(0px);
}

.textFirstPrize {
  width: 60vw;
  font-size: 6vw;
  font-weight: bold;
  text-align: right;
}

.textSejongTest {
  text-align: right;
  width: 60vw;
  font-size: 2.5vw;
}

/* Quiz */
.quiz-outer-container {
  z-index: 6;
  position: relative;
  display: flex;
  flex-direction: column;
  /* This border style is only for debugging purpose. Modify design later. */
  border-style: dashed;
  border-color: fuchsia; 
  margin-left: 30%;
}