body {
  height: 100%;
  width: 100%;
}
.Sejong {
  font-size: 30px;
  text-align: center;
}
.sejong_photo {
  width: 1920px;
  height: 1248px;
  padding: 176px 0 59px;
  position: absolute;
}
.Page3_text {
  font-size: 20px;
  text-align: center;
}

.cele {
  width: 818px;
  height: 60px;
  font-size: 40px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #292929;
  position: relative;
  top: 700px;
  left: 100%;
}
