.quiz-container-outer {
  margin: 1rem auto;
  padding: 2rem;
  max-width: 750px;
  border-style: dashed;
  border-color: grey;
  color: black;
}

.check-quiz-result-button {
  /* TODO : style this later */
}
