.quiz-container-outer {
  margin: 1rem auto;
  padding: 2rem;
  max-width: 750px;
  background-color: darkslateblue;
  /* FIXME This might have to be modified based on renewed Page3.css */
  display: flex;
  flex-direction: column;
}

.check-quiz-result-button {
   width: 30%;
   align-self: center;
   padding: 1em;
   margin: 0.5em;
}

/* for Quiz visibility toggle */
.quiz-hidden {
  display: none;
  /* maybe put some animation for toggling? */
}
