.Page1__container {
  background-color: black;
  color: white;
}

.greeting__first {
  margin-top: 50px;
}

.greeting__hello {
  font-size: 80px;
  width: 50vh;
  height: 25%;
  text-align: center;
  margin-left: 80px;
  padding-top: 80px;
  display: inline flex;
}

.greeting__xinchao {
  font-size: 50px;
  width: 50vh;
  height: 15vh;
  text-align: right;
  display: inline-block;
  margin-left: 180px;
}

.greeting__second {
  margin-top: -30px;
}

.greeting__gutentag {
  font-size: 60px;
  width: 50vh;
  height: 15vh;
  text-align: left;
  margin-left: 350px;
}

.greeting__third {
  height: 15vh;
  text-align: center;
  margin-top: -20px;
}

.greeting__hi {
  font-size: 45px;
  display: inline;
  margin-right: 100px;
}

.greeting__bonjour {
  font-size: 45px;
  display: inline;
  margin-left: 120px;
}

.greeting__korean {
  font-size: 80px;
  display: inline;
  margin-left: 150px;
}

.greeting__fourth {
  height: 15vh;
  margin-top: 50px;
}

.greeting__hola {
  font-size: 65px;
  margin-left: 140px;
  margin-top: 70px;
  display: inline;
}

.greeting__goni {
  font-size: 65px;
  margin-left: 450px;
  margin-top: 70px;
  display: inline;
}

.greeting__fifth {
  height: 15vh;
  text-align: center;
}

.greeting__sawa {
  font-size: 65px;
  margin-left: 40px;
  display: inline;
}

@media screen and (max-width: 768px) {
}
