@font-face {
  font-family: "Jaemin";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jaemin.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

.outer-container-jumo {
  font-family: Jaemin;
}

.container-jumo {
  text-align: center;
  background-image: url(../../img/background.png);
  background-attachment: fixed;
  background-position: top;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 769px) and (max-width: 1299px) {
  .container-jumo {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-size: 10px;
  }

  .textback {
    flex-basis: 100%;
    width: 60vw;
    height: 600px;
    z-index: 1;
    position: absolute;
    min-height: 100vh;
  }

  .description {
    flex-basis: 60%;
    z-index: 2;
  }

  .youris {
    color: #292929;
    font-size: 2.5rem;
    font-weight: bolder;
    z-index: 2;
    display: grid;
    place-items: center;
    min-height: 40vh;
  }

  .detail {
    color: #292929;
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 3;
    display: grid;
    place-items: center;
    min-height: 20vh;
  }

  .char {
    height: 70vh;
    width: 40vw;
    position: relative;
    flex-basis: 40%;
    margin-left: auto;
    z-index: 4;
    top: 40vh;
  }
}

/* 1300px이상 너비에 글씨, 캐릭터 크기 적용 */
@media (min-width: 1300px) {
  .container-jumo {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-size: 10px;
  }

  .textback {
    flex-basis: 100%;
    width: 60vw;
    height: 600px;
    z-index: 1;
    position: absolute;
    min-height: 100vh;
  }

  .description {
    flex-basis: 60%;
    z-index: 2;
  }

  .youris {
    color: #292929;
    font-size: 2.5rem;
    font-weight: bolder;
    z-index: 2;
    min-height: 40vh;
  }

  .detail {
    color: #292929;
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 3;
    min-height: 20vh;
  }

  .char {
    height: 90vh;
    width: 60vw;
    position: relative;
    flex-basis: 40%;
    margin-left: auto;
    z-index: 4;
    top: 20vh;
    left: 10vw;
  }
}

/* 모바일 버전 css */
@media (min-width: 441px) and (max-width: 768px) {
  .container-jumo {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-size: 10px;
    flex-direction: column;
    text-align: center;
  }

  .textback {
    top: 30vh;
    width: 100vw;
    height: 70vh;
    z-index: 2;
    position: absolute;
  }

  .description {
    order: 2;
    flex-basis: 100%;
    z-index: 2;
  }

  .youris {
    color: #292929;
    font-size: 1.5rem;
    font-weight: bolder;
    z-index: 2;
    position: relative;
    display: grid;
    place-items: center;
    min-height: 30vh;
  }

  .detail {
    color: #292929;
    font-size: 1rem;
    font-weight: bold;
    z-index: 3;
    display: grid;
    place-items: center;
  }

  .char {
    width: 30vh;
    height: 30vh;
    flex-basis: 30%;
    z-index: 1;
    order: 1;
    display: block;
    margin: 0px auto;
  }
}

@media (max-width: 440px) {
  .container-jumo {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-size: 10px;
    flex-direction: column;
    text-align: center;
  }

  .textback {
    top: 30vh;
    width: 100vw;
    height: 70vh;
    z-index: 2;
    position: absolute;
  }

  .description {
    order: 2;
    flex-basis: 100%;
    z-index: 2;
  }

  .youris {
    color: #292929;
    font-size: 1.2rem;
    font-weight: bolder;
    z-index: 2;
    position: relative;
    display: grid;
    place-items: center;
    min-height: 30vh;
  }

  .detail {
    color: #292929;
    font-size: 0.8rem;
    font-weight: bold;
    z-index: 3;
    display: grid;
    place-items: center;
  }

  .char {
    width: 50vw;
    height: 50vh;
    flex-basis: 50%;
    z-index: 1;
    order: 1;
    display: block;
    margin: 0px auto;
  }
}
