@media (max-width: 440px) {
  .Page2_text {
    margin-left: 2vw;
    margin-right: 1vw;
    margin-top: 10vh;
    margin-bottom: 20vh;
    font-size: 4vw;
    font-style: bold;
    text-align: center;
    writing-mode: vertical-lr;
    height: 120vh;
    letter-spacing: 1vw;
    word-spacing: 1vw;
    overflow: hidden;
  }
  .gamagi {
    width: 70px;
  }
  .jjum {
    width: 15px;
  }
}

@media (min-width: 441px) and (max-width: 1024px) {
  .Page2_text {
    margin-left: 5vw;
    margin-bottom: 20vh;
    font-size: 3vw;
    font-style: bold;
    text-align: center;
    writing-mode: vertical-lr;
    height: 100vh;
    word-spacing: 1vw;
    letter-spacing: 1vw;
    overflow: hidden;
  }
  .gamagi {
    width: 200px;
  }
  .jjum {
    width: 40px;
  }
}

@media (min-width: 1024px) {
  .Page2_text {
    margin-top: 20vw;
    margin-left: 12vw;
    margin-bottom: 20vh;
    font-size: 3vw;
    font-style: bold;
    text-align: center;
    writing-mode: vertical-lr;
    height: 120vh;
    word-spacing: 1vw;
    letter-spacing: 1vw;
    /* overflow: hidden; */
  }
}

.jjum {
  display: inline-block flex;
}

.gamagi {
  width: 300px;
}
