@font-face {
  font-family: "Jaemin";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jaemin.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@media (max-width: 440px) {
  .outer-container-page2 {
    background-color: #292929;
    color: white;
    font-size: 4vw;
    font-style: bold;
    text-align: center;
    writing-mode: vertical-lr;
    height: 100vh;
    width: 100vw;
    letter-spacing: 1vw;
    word-spacing: 1vw;
    overflow: hidden;
    font-family: Jaemin;
  }
  .crow {
    width: 70px;
  }
  .jjum {
    width: 15px;
  }
}

@media (min-width: 441px) and (max-width: 1024px) {
  .outer-container-page2 {
    background-color: #292929;
    color: white;
    font-size: 3vw;
    font-style: bold;
    text-align: center;
    writing-mode: vertical-lr;
    height: 100vh;
    width: 100vw;
    word-spacing: 1vw;
    letter-spacing: 1vw;
    overflow: hidden;
    font-family: Jaemin;
  }
  .crow {
    width: 200px;
  }
  .jjum {
    width: 40px;
  }
}

@media (min-width: 1024px) {
  .outer-container-page2 {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    font-style: bold;
    writing-mode: vertical-lr;
    word-spacing: 2vw;
    letter-spacing: 1vh;
    font-family: Jaemin;
    background-color: #292929;
    color: white;
  }

  .jjum {
  }

  .crow {
    width: 400px;
  }
}
