@media(min-width:441px){
#outer-container-page1 {
  width: 100vw;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: black;
  color: white;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: hidden;
}

.greeting-hello {
  font-size: 5rem;
  flex-basis: 50%;
  position: relative;
  right: 5vw;
}

.greeting-xinchao {
  font-size: 3rem;
  flex-basis: 50%;
  position: relative;
  left: 7vw;
}

.greeting-guten {
  font-size: 3rem;
  flex-basis: 100%;
  position: relative;
  left: 20vw;
}

.greeting-nihao {
  font-size: 4rem;
  flex-basis: 100%;
  position: relative;
  right: 18vw;
}

.greeting-kor {
  font-size: 7rem;
  flex-basis: 100%;
  position: relative;
}

.greeting-bonjour {
  font-size: 3rem;
  flex-basis: 100%;
  position: relative;
  right: 35vw;
}

.greeting-hola {
  font-size: 4rem;
  flex-basis: 100%;
  position: relative;
  left: 40vw;
}

.greeting-goni {
  font-size: 3rem;
  flex-basis: 100%;
  position: relative;
  right: 25vw;
}

.greeting-sawa {
  font-size: 3rem;
  flex-basis: 100%;
  position: relative;
  left: 10vw;
}
}

@media(max-width:440px){
#outer-container-page1 {
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: black;
    color: white;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
    font-size: 10px;
  }
  .greeting-hello {
    font-size: 5em;
    flex-basis: 50%;
    position: relative;
    right: 5vw;
    margin-bottom: -3em;
  }
  
  .greeting-xinchao {
    font-size: 3em;
    flex-basis: 50%;
    position: relative;
    left: 5vw;
    margin-bottom: -3em;
  }
  
  .greeting-guten {
    font-size: 3em;
    flex-basis: 100%;
    position: relative;
    left: 20vw;
    margin-bottom: -3em;
  }
  
  .greeting-nihao {
    font-size: 4em;
    flex-basis: 100%;
    position: relative;
    right: 18vw;
    margin-bottom: -1em;
  }
  
  .greeting-kor {
    font-size: 5em;
    flex-basis: 100%;
    position: relative;
  }
  
  .greeting-bonjour {
    font-size: 3em;
    flex-basis: 100%;
    position: relative;
    right: 35vw;
    margin-top: -1em;
  }
  
  .greeting-hola {
    font-size: 4em;
    flex-basis: 100%;
    position: relative;
    left: 30vw;
    margin-top: -4em;
  }
  
  .greeting-goni {
    font-size: 3em;
    flex-basis: 100%;
    position: relative;
    right: 25vw;
    margin-top: -5em;
  }
  
  .greeting-sawa {
    font-size: 3em;
    flex-basis: 100%;
    position: relative;
    left: 10vw;
    margin-top: -6em;
  }
}