body{
  color: white;
  background-color:#292929;
  position:relative;
  right:3vw;
}
@media(min-width:1025px){
  .container{
    padding-top:7vh;
    width:100%;
    display:block;
    height:100%;
  }

  .greeting__first {
    margin-bottom:1vh;
    position:relative;
    display:block;
  }

  .greeting__hello {
    font-size:5vw;
    margin-left:5vw;
  }

  .greeting__xinchao {
    width: 5vw;
    font-size:4vw;
    margin-left:52vw;
  }

  .greeting__second {
    font-size:3vw;
  }

  .greeting__gutentag {
    margin-left:15vw;
  }

  .greeting__third {
    
  }

  .greeting__hi {
    font-size:2vw;
    width:5vh;
    margin-left:30vw;
  }

  .greeting__bonjour {
    font-size:4vw;
    margin-left:72vw;
  }

  .greeting__korean {
    font-size:6vw;
    margin-left:35vw;
  }

  .greeting__fourth {
  }

  .greeting__hola {
    font-size:5vw;
    margin-left:10vw;
  }

  .greeting__goni {
    font-size:4vw;
    margin-left:65vw;
  
  }

  .greeting__fifth {
  }

  .greeting__sawa {
    font-size:3vw;
    margin-left:40vw;
  }

  .greeting__last{
  }
}
@media(min-width:441px) and (max-width:1024px){
  .container{
    padding-top:8vh;
    width:100%;
    display:block;
    height:100%;
  }

  .greeting__first {
    margin-bottom:5vh;
    position:relative;
    display:block;
  }

  .greeting__hello {
    font-size:5vw;
    margin-left:5vw;
  }

  .greeting__xinchao {
    width: 5vw;
    font-size:4vw;
    margin-left:52vw;
  }

  .greeting__second {
    font-size:3vw;
  }

  .greeting__gutentag {
    margin-left:15vw;
  }

  .greeting__third {
    
  }

  .greeting__hi {
    font-size:2vw;
    width:5vh;
    margin-left:30vw;
  }

  .greeting__bonjour {
    font-size:4vw;
    margin-left:72vw;
  }

  .greeting__korean {
    font-size:6vw;
    margin-left:35vw;
  }

  .greeting__fourth {
  }

  .greeting__hola {
    font-size:5vw;
    margin-left:10vw;


  }

  .greeting__goni {
    font-size:4vw;
    margin-left:65vw;
  
  }

  .greeting__fifth {
  }

  .greeting__sawa {
    font-size:3vw;
    margin-left:40vw;
  }

  /* .next {
    text-align: right;
  } */
}
@media(max-width:440px){
    .container{
      width:100%;
      height:100%;
      display:block;
      margin:auto;
      padding-top:28vh;
      padding-bottom:30vh;
    }
  
    .greeting__first {
      margin-bottom:5vh;
      position:relative;
      display:block;
      margin-left:5vw;
      
    }
  
    .greeting__hello {
      font-size:5vw;
    }
  
    .greeting__xinchao {
      font-size:4vw;
      margin-left:40vw;
    }
  
    .greeting__second {
      font-size:3vw;
    }
  
    .greeting__gutentag {
      margin-left:15vw;
    }
  
    .greeting__third { 
    }
  
    .greeting__hi {
      font-size:2vw;
      width:5vh;
      margin-left:30vw;
    }
  
    .greeting__bonjour {
      font-size:4vw;
      margin-left:70vw;
    }
  
    .greeting__korean {
      font-size:6vw;
      margin-left:28vw;
    }
  
    .greeting__fourth {
    }
  
    .greeting__hola {
      font-size:5vw;
      margin-left:10vw;
  
  
    }
  
    .greeting__goni {
      font-size:4vw;
      margin-left:65vw;
    
    }
  
    .greeting__fifth {
    }
  
    .greeting__sawa {
      font-size:3vw;
      margin-left:40vw;
    }
  
    .greeting__last{
    }
  }