@media(min-width:441px){
  body{
    color: white;
    background-color:black;
    position:relative;
    right:3vw;
    
  }
  .container{
    padding-top:1vh;
    width:100%;
    height:100%;
    display:block;
  }

  .greeting__first {
    margin-bottom:5vh;
    position:relative;
    display:block;
  }

  .greeting__hello {
    font-size:5vw;
    margin-left:5vw;
  }

  .greeting__xinchao {
    width: 5vw;
    font-size:4vw;
    margin-left:52vw;
  }

<<<<<<< HEAD
.greeting__second {
  margin-top: 30px;
}
=======
  .greeting__second {
    font-size:3vw;
  }
>>>>>>> 9bce17d44f035df33d7e06e3d789c5ee3af7f657

  .greeting__gutentag {
    margin-left:15vw;
  }

<<<<<<< HEAD
.greeting__third {
  height: 15vh;
  text-align: center;
  margin-top: 50px;
}
=======
  .greeting__third {
    
  }
>>>>>>> 9bce17d44f035df33d7e06e3d789c5ee3af7f657

  .greeting__hi {
    font-size:2vw;
    width:5vh;
    margin-left:30vw;
  }

  .greeting__bonjour {
    font-size:4vw;
    margin-left:70vw;
  }

  .greeting__korean {
    font-size:6vw;
    margin-left:34vw;
  }

  .greeting__fourth {
  }

  .greeting__hola {
    font-size:5vw;
    margin-left:10vw;


  }

  .greeting__goni {
    font-size:4vw;
    margin-left:65vw;
  
  }

<<<<<<< HEAD
@media screen and (min-width: 360px) {
  body {
    justify-content: space-between;
  }
}

@media screen and (min-width: 720px) {
  body {
    justify-content: space-between;
  }
}
=======
  .greeting__fifth {
  }

  .greeting__sawa {
    font-size:3vw;
    margin-left:40vw;
  }

  .greeting__last{
  }
}
@media(max-width:440px){
  body{
    color: white;
    background-color:black;
    position:relative;
    right:3vw;
    
  }
    .container{
      padding-top:1vh;
      width:100%;
      height:100%;
      display:block;
      margin:auto;
      padding-top:25vh;
      padding-bottom:30vh;
    }
  
    .greeting__first {
      margin-bottom:5vh;
      position:relative;
      display:block;
      margin-left:5vw;
      
    }
  
    .greeting__hello {
      font-size:5vw;
    }
  
    .greeting__xinchao {
      font-size:4vw;
      margin-left:40vw;
    }
  
    .greeting__second {
      font-size:3vw;
    }
  
    .greeting__gutentag {
      margin-left:15vw;
    }
  
    .greeting__third { 
    }
  
    .greeting__hi {
      font-size:2vw;
      width:5vh;
      margin-left:30vw;
    }
  
    .greeting__bonjour {
      font-size:4vw;
      margin-left:70vw;
    }
  
    .greeting__korean {
      font-size:6vw;
      margin-left:28vw;
    }
  
    .greeting__fourth {
    }
  
    .greeting__hola {
      font-size:5vw;
      margin-left:10vw;
  
  
    }
  
    .greeting__goni {
      font-size:4vw;
      margin-left:65vw;
    
    }
  
    .greeting__fifth {
    }
  
    .greeting__sawa {
      font-size:3vw;
      margin-left:40vw;
    }
  
    .greeting__last{
    }
  }
>>>>>>> 9bce17d44f035df33d7e06e3d789c5ee3af7f657
